:root {
    --light-bg-color: #ffffff;
    /* Couleur de fond en mode clair */
    --light-text-color: #000000;
    /* Couleur du texte en mode clair */
    --light-card-color: #9292b14d;
    --light-sub-section: #e5e7fc;
    --dark-bg-color: #000000c9;
    /* Couleur de fond en mode nuit */
    --dark-text-color: #000000;
    /* Couleur du texte en mode nuit */
    --dark-card-color: #0b214b;
    --dark-sub-section: #032a7ebb;
}

* {
    transition: 1s;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 80%;
    /* background-color: var(--light-bg-color); */
    background: rgb(5, 94, 255);
    background: linear-gradient(164deg, rgba(45, 118, 255, 0.596) 0%, rgba(249, 249, 249, 1) 64%, rgba(235, 207, 140, 0.582) 86%);
    color: var(--light-text-color);
    transition: 1s;
    font-size: 17px;
    font-size: large ;
    
}

/* Styles spécifiques au mode nuit */
body.dark-mode {
    /* background-color: var(--dark-bg-color); */
    background: rgb(2, 24, 65);
    background: linear-gradient(164deg, rgba(7, 8, 82, 0.856) 0%, rgb(0, 40, 59) 64%, rgb(34, 0, 44) 86%);
    color: var(--dark-text-color);
}

/* Ajoutez vos autres styles CSS ici */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* Ajoutez une marge de 100 pixels en haut et en bas du défilement snap */
    scroll-padding: 200px 0;

}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    color: #20789e;
}

strong{
    font-size: large;
}

header {
    transition: 0.3s;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* background-color: #4171b6fb; */
    background: rgb(63, 72, 117);
    background: linear-gradient(349deg, rgb(84, 172, 255) 0%, rgb(191, 203, 243) 100%);
    padding: 0vh;
    color: #fff;
    position: fixed;
    text-align: center;
    top: 20px;
    margin-left: 43vw;
    margin-left: min(40vw);
    width: 30vw;
    z-index: 99;
    border: #000000;
    border-style: groove;
    border-width: 1px;
}

.dark-mode header {
    background: rgb(20, 23, 37);
    background: linear-gradient(349deg, rgb(67, 80, 92) 0%, rgb(14, 69, 247) 100%);
}

header:hover {
    /* animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both; */
    transform: translate3d(1, 6, 2);
    background: rgb(52, 54, 218);
    background: linear-gradient(349deg, rgb(18, 81, 216) 0%, rgb(191, 203, 243) 100%);
    perspective: 1000px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: rgba(80, 80, 93, 0.76) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.781) 0px 18px 36px -18px inset;
    border-width: 2px;

}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

header h1 {
    font-size: 29px;
}

header h2 {
    font-size: 18px;
    font-style: italic;
    color: #d7c9ff;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 20px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    max-width: 200px;
    height: 100vh;
    /* background-color: #2f3652f3; */
    background: rgb(0, 20, 115);
    background: linear-gradient(349deg, rgba(87, 92, 99, 0.473) 0%, rgba(0, 60, 150, 0.658) 100%);
    padding-top: 2vh;
    color: #fff;
}

.Presentation {
    position: absolute;
    top: 0;
    margin: 15px;
    line-height: 1.2;
    box-shadow: inset 0 0 10px rgba(1, 1, 1, 1); /* Ombre interne */
    border-radius: 10px; /* Coins arrondis pour un aspect plus moderne */
    text-align: center; /* Centrer le texte horizontalement */
    color: #000c50; /* Couleur de texte foncée pour une bonne lisibilité */
}

.Presentation h1 {
    font-size: 24px; /* Taille de la police pour le nom */
    margin-bottom: 10px; /* Espacement entre le nom et le statut */
}

.Presentation h2 {
    font-size: 18px; /* Taille de la police pour le statut */
    color: #5200bdd5; /* Couleur de texte légèrement plus claire pour le statut */
}

.photo-placeholder{
    width: 18vw;
    max-width: 110px;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 30%;
}


#toggle-theme {
    margin-top: auto;
    padding: 10px 20px;
    margin: auto;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#toggle-theme:hover {
    background-color: #93c6db;
}

#language-buttons {
    margin-top: auto;
    text-align: center;
}

#language-buttons button {
    padding: 10px 10px;
    margin: 10px;
    margin-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #304c6d77;
    /* Couleur de fond */
    color: #fff;
    /* Couleur du texte */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06px) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: background-color 0.3s ease;
    /* Transition en douceur */
}

#language-buttons button:hover {
    background-color: #0056b3;
    /* Changement de couleur au survol */
}


.sidebar ul {
    margin-top: 32vh;
    list-style-type: circle;
    padding-left: 2vw;
}

.sidebar ul li {
    margin-bottom: 4vh;
    margin-right: 1vw;
}

.sidebar ul li a {
    border-style: double;
    border-color: #0000002f;
    transition: 0.3s;
    background-color: #191cb41c;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 19px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 19px;
}

.sidebar ul li a:hover {
    background-color: #591a9428;
    /* Couleur de fond au survol */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.3s;
    /* Transition douce */
}

.nav-link-menu.active {
    transition: 0.3s;
    background-color: #84a5f786;
}

.section {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    transition: 0.7s ease;
    margin: 0 auto;
    scroll-snap-align: center;
    line-height: 200%;
    padding: 5px;
    padding-left: 30px;
    padding-right: 20px;
    width: 69vw;
    margin-left: min(22%);
    margin-top: 36vh;
    margin-bottom: 50vh;
    margin-right: 9vw;
    background: linear-gradient(349deg, rgb(255, 236, 196) 0%, rgba(34, 94, 204, 0.575) 100%);
    background: rgb(194, 201, 224);
    background: linear-gradient(349deg, rgb(190, 190, 192) 0%, rgba(0, 119, 255, 0.315) 100%);
    border-radius: 40px;
    /* Ajoutez une marge de 100 pixels en haut et en bas du défilement snap */
    scroll-padding: 120px 0;
    border-width: 1px;
    border-style: double;
    border-color: #00000069;
}

.dark-mode .section {
    color: white;
    scroll-snap-align: center;
    margin-top: 36vh;
    margin-bottom: 50vh;
    /* background-color: var(--dark-card-color); */
    background: rgba(35, 42, 68, 0.582);
    background: linear-gradient(349deg, rgb(66, 72, 92) 0%, rgba(0, 14, 78, 0.575) 100%);
    border-radius: 40px;
}

.section:hover {
    transition: 0.3s ease;
    background: rgb(194, 201, 224);
    background: linear-gradient(349deg, rgb(255, 236, 196) 0%, rgba(34, 94, 204, 0.575) 100%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 102%;
    /* Couleur de fond au survol */
}

.dark-mode .section:hover {
    scale: 102%;
    background: rgb(64, 69, 87);
    background: linear-gradient(349deg, rgb(100, 110, 139) 0%, rgba(0, 14, 78, 1) 100%);
    /* Couleur de fond au survol */
}

#section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4-content {
    display: block;
    flex-direction: row;
    /* Centrer les éléments verticalement */
    justify-content: stretch;
    gap: 20px;
    /* Ajouter un espacement entre les éléments */
}

.icones {
    font-size: 25px;
}

.social-icons {
    transition: 0.3s;
    font-size: 20px;
    /* Ajustez la distance par rapport au bas selon vos préférences */
    display: flex;
    flex-wrap: wrap;
}

.icon {
    transition: 0.3s;
    margin: 8px;
    /* Espace entre chaque icône */
    color: #0a2b63;
    /* Couleur de la police */
}

.icon :hover {
    scale: 140%;
    transition: 0.3s;
}

.social-icons ul {
    transition: 0.3s;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.social-icons ul li {
    transition: 0.3s;
    margin: 20px;
}

.social-icons ul li a {
    transition: scale 0.3s;
    color: #202020;
}

.dark-mode .social-icons ul li a {
    color: #cfcece;
}

.social-icons ul li:hover {
    transition: scale 0.3s;
    scale: 120%;
}

.formulaire {
    width: 100%;
    width: 200px;
}

.input-group,
.button-group {
    justify-content: space-evenly;
    justify-self: center;
    float: none;
    clear: both;
    /* Pour empêcher les éléments flottants de chevaucher */
    margin-bottom: 25px;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.input-group textarea {
    resize: both;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #20789e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button-group button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* MENU SECTION A PROPOS */

.sub-menu ul {
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;

}

.sub-menu ul li {
    margin-right: 20px;
}

.sub-menu li {
    display: inline-block;
    margin-right: 10px;
    /* Espace entre les boutons */
}

.sub-menu a {
    margin-bottom: 10px;
    display: inline-block;
    padding: 15px;
    background-color: #8eabca1e;
    border-radius: 20px;
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sub-menu a:hover {
    transition: 0.5s;
    background-color: #4703c52c;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}


.sub-menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #20789e;
    position: relative;
    transition: 0.3s ease;
}

.sub-menu ul li a:hover {
    transition: 0.3s;
    color: #0298acc2;
    /* Couleur du texte au survol */
}

.dark-mode .sub-menu ul li a {
    color: rgba(255, 255, 255, 0.705);
}

.sub-section-propos {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: var(--light-sub-section);
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    border: thick double #bdbcbc;
    border-radius: 10px;
    transition: display 0.5s ease;
    /* Ajoute une transition en douceur */
}

.sub-section-propos:hover {
    transition: 0.6s;
    background-color: #4e54ff2a;
}

.dark-mode .sub-section-propos {
    color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border: thick double #5c5c5c;
    border-radius: 10px;
    background-color: var(--dark-sub-section);
    transition: display 0.5s ease;
    /* Ajoute une transition en douceur */
}

.dark-mode .sub-section-propos:hover {
    transition: 0.6s;
    background-color: #4e54ffa8;
}

.sub-section-propos.active {
    transition: 0.3s;
    display: block;
}

.sub-section-proj {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: var(--light-sub-section);
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    border: thick double #bdbcbc;
    border-radius: 10px;
    transition: display 0.5s ease;
}

.sub-section-proj:hover {
    transition: 0.6s;
    background-color: #4e54ff2a;
}

.dark-mode .sub-section-proj {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border: thick double #5c5c5c;
    border-radius: 10px;
    background-color: var(--dark-sub-section);
    transition: display 0.5s ease;
}

.dark-mode .sub-section-proj:hover {
    transition: 0.6s;
    background-color: #4e54ff2a;
}

.sub-section-proj.active {
    transition: 0.3s;
    display: block;
}

/* NAV LINK A PROPOS */
.nav-link-propos {
    transition: color 0.3s ease;
}

.nav-link-propos.active {
    transition: 0.3s;
    color: #00202e;
    background-color: #8f83ff57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}

.dark-mode .nav-link-propos {
    transition: color 0.3s ease;
    color: #ffffff85;
}

.dark-mode .nav-link-propos.active {
    transition: 0.3s;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.856);
    background-color: #b2aafd57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}

/* NAV LINK PROJETS */
.nav-link-proj {
    max-height: 30px;
    transition: color 0.3s ease;
    overflow: hidden;
}

.nav-link-proj.active {
    transition: 0.3s;
    font-weight: bold;
    color: #002738;
    background-color: #8f83ff57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}


.dark-mode .nav-link-proj {
    transition: color 0.3s ease;
    color: #ffffff85;
}

.dark-mode .nav-link-proj.active {
    transition: 0.3s;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #b2aafd57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}

.project-images {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.project-images img {
    transition: 0.5s;
    width: 25%;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-images img:hover {
    scale: 120%;
    transition: 0.5s;

}

.iframe-container {
    position: relative;
    height: 100%;
    width: 100%;
}

iframe {
    position: relative;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    border: none;
    scale: auto;
}

body {
    animation: theme 21s linear infinite;

    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 100vh;
        width: 100vmax;
        height: 100vmax;
        background: rgba(0, 0, 0, 0.055);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #5778be48;
    }

    16% {
        background: #5dbdb73b;
    }

    33% {
        background: #7d59e128;
    }

    50% {
        background: #51e8cf42;
    }

    66% {
        background: #fadb532a;
    }

    83% {
        background: #eb8e1523;
    }

    100% {
        background: #5778be48;
    }
}

/* Styles pour le mode sombre */
.dark-mode {
    animation: dark-theme 21s linear infinite;
    transition: background-color 0.5s ease;
    /* Transition lors du changement de thème */


    &:after,
    &:before {
        background: rgba(255, 255, 255, 0.055);
        /* Couleur plus claire pour les éléments d'animation */
    }
}

@keyframes dark-theme {
    0% {
        background: #0e0116;
        /* Couleur sombre pour le mode sombre */
    }

    16% {
        background: #16022c;
        /* Tons plus sombres pour chaque étape */
    }

    33% {
        background: #190020;
    }

    50% {
        background: #11052c;
    }

    66% {
        background: #191472;
    }

    83% {
        background: #000620;
    }

    100% {
        background: #16022c;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Style de la modal */
.modal {
    display: none;
    /* Caché par défaut */
    position: fixed;
    /* Position fixe pour couvrir l'écran */
    top: 0;
    left: 0;
    width: 100%;
    /* Largeur totale */
    height: 100%;
    /* Hauteur totale */
    background-color: rgba(0, 0, 0, 0.8);
    /* Opacité pour le fond */
    justify-content: center;
    /* Centrer horizontalement */
    align-items: center;
    /* Centrer verticalement */
}

/* Style de l'image à l'intérieur de la modal */
.modal img {
    max-width: 80%;
    /* Limite la taille de l'image */
    max-height: 80%;
    /* Limite la hauteur */
    z-index: 999;

}

/* Style du bouton de fermeture */
.close {
    position: absolute;
    top: 100px;
    right: 100px;
    color: white;
    /* Couleur du bouton de fermeture */
    font-size: 80px;
    /* Taille de la police du bouton */
    cursor: pointer;
    /* Indique qu'on peut cliquer */
}

/* Changer le curseur au survol des images enlargeable */
.enlargeable {
    cursor: pointer;
    /* Afficher le curseur en forme de main */
}