:root {
    --light-bg-color: #ffffff;
    /* Couleur de fond en mode clair */
    --light-text-color: #000000;
    /* Couleur du texte en mode clair */
    --light-card-color: #9292b14d;
    --light-sub-section: #e5e7fc;
    --dark-bg-color: #000000c9;
    /* Couleur de fond en mode nuit */
    --dark-text-color: #000000;
    /* Couleur du texte en mode nuit */
    --dark-card-color: #0b3d4b;
    --dark-sub-section: #03617e;
}

* {
    transition: 0.5s;
}

body {
    font-family: "Century Gothic";
    line-height: 130%;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    transition: 1s;
    font-size: 15px
}

/* Styles spécifiques au mode nuit */
body.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

/* Ajoutez vos autres styles CSS ici */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* Ajoutez une marge de 100 pixels en haut et en bas du défilement snap */
    scroll-padding: 200px 0;

}

h2 {
    font-size: 3vh;
    font-style: italic;
    color: #20789e;
}

header {
    transition: 0.3s;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #4171b6fb;
    padding: 1vh;
    color: #fff;
    position: fixed;
    text-align: center;
    top: 20px;
    margin-left: 40vw;
    margin-left: min(34vw)  ;
    width: 40vw;
    z-index: 999;
}

header:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    background-color: #5f90d4fb;
    perspective: 1000px;
    border-radius: 20px;
    transition: 0.7s;
    padding-left: 10px;
    padding: 15px;

}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

header h1 {
    font-size: 29px;
}

header h2 {
    font-size: 18px;
    font-style: italic;
    color: #d7c9ff;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    max-width: 200px;
    height: 100vh;
    background-color: #2f3652f3;
    padding-top: 2vh;
    color: #fff;
}

#toggle-theme {
    margin-top: auto;
    padding: 10px 20px;
    margin: auto;
    background-color: #0c003d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#toggle-theme:hover {
    background-color: #93c6db;
}

#language-buttons {
    margin-top: auto;
    text-align: center;
}

#language-buttons button {
    padding: 10px 10px;
    margin: 10px;
    margin-bottom: 5vh;
    background-color: #2b9aca;
    /* Couleur de fond */
    color: #fff;
    /* Couleur du texte */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06px) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: background-color 0.3s ease;
    /* Transition en douceur */
}

#language-buttons button:hover {
    background-color: #0056b3;
    /* Changement de couleur au survol */
}

.sidebar ul {
    margin-top: 28vh;
    list-style-type: circle;
    padding-left: 2vw;
}

.sidebar ul li {
    margin-bottom: 4vh;
    margin-right: 2vw;
}

.sidebar ul li a {
    transition: 0.3s;
    background-color: #2a314b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 19px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 19px;
}

.sidebar ul li a:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #7490d6ab;
    /* Couleur de fond au survol */
    transition: 0.3s;
    /* Transition douce */
}

.nav-link-menu.active {
    transition: 0.3s;
    background-color: #84a5f786;
}

.section {
    border-width: 5px;
    border-style: double;
    border-color: #20202052;
    position: relative;
    transition: 0.3s ease;
    margin: 0 auto;
    scroll-snap-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    line-height: 200%;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: min(250px, 30%);
    margin-top: 36vh;
    margin-bottom: 50vh;
    margin-right: min(50px, 80%);
    background-color: var(--light-card-color);
    border-radius: 40px;
    /* Ajoutez une marge de 100 pixels en haut et en bas du défilement snap */
    scroll-padding: 100px 0;
    /* transition: transform 0.1s ease;
    transform-style:inherit;
    will-change: transform; */
}

.dark-mode .section {
    color: white;
    scroll-snap-align: center;
    margin-left: min(250px, 30%);
    margin-top: 36vh;
    margin-bottom: 50vh;
    margin-right: min(50px, 80%);
    background-color: var(--dark-card-color);
    border-radius: 40px;
}

.section:hover {
    transition: background-color 0.3s ease;
    background-color: #f0f0f0;
    /* Couleur de fond au survol */
}

.dark-mode .section:hover {
    background-color: #08485a;
    /* Couleur de fond au survol */
}

#section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4-content {
    display: block;
    flex-direction: row;
    /* Centrer les éléments verticalement */
    justify-content: stretch;
    gap: 20px;
    /* Ajouter un espacement entre les éléments */
}

.icones {
    font-size: 25px;
}

.social-icons {
    transition: 0.3s;
    font-size: 20px;
    /* Ajustez la distance par rapport au bas selon vos préférences */
    display: flex;
    flex-wrap: wrap;
}

.icon {
    transition: 0.3s;
    margin: 8px;
    /* Espace entre chaque icône */
    color: #0a2b63;
    /* Couleur de la police */
}

.icon :hover {
    scale: 140%;
    transition: 0.3s;
}

.social-icons ul {
    transition: 0.3s;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.social-icons ul li {
    transition: 0.3s;
    margin: 20px;
}

.social-icons ul li a {
    transition: scale 0.3s;
    color: #202020;
}

.dark-mode .social-icons ul li a {
    color: #cfcece;
}

.social-icons ul li:hover {
    transition: scale 0.3s;
    scale: 120%;
}

.formulaire {
    width: 100%;
    /* Utiliser la largeur totale disponible */
    width: 200px;
    /* Définir une largeur maximale pour le formulaire */
}

.input-group,
.button-group {
    justify-content: space-evenly;
    justify-self: center;
    float: none;
    clear: both;
    /* Pour empêcher les éléments flottants de chevaucher */
    margin-bottom: 25px;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.input-group textarea {
    resize: both;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #20789e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button-group button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* MENU SECTION A PROPOS */

.sub-menu ul {
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;
    /* overflow: hidden; */
    /* Masquer le texte qui dépasse */

}

.sub-menu ul li {
    margin-right: 20px;
}

.sub-menu li {
    display: inline-block;
    margin-right: 10px;
    /* Espace entre les boutons */
}

.sub-menu a {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 10px;
    /* Ajustez le rembourrage selon vos préférences */
    background-color: #8eabca1e;
    /* Couleur de fond */
    border-radius: 20px;
    /* Coins arrondis */
    transition: 0.5s ease;
    /* Transition pour la couleur de fond */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sub-menu a:hover {
    transition: 0.5s;
    background-color: #4703c52c;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
    /* Couleur de fond au survol */
}


.sub-menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #20789e;
    /* Couleur du texte */
    position: relative;
    transition: 0.3s ease;
    /* Animation de transition de couleur */
}

.sub-menu ul li a:hover {
    transition: 0.3s;
    color: #0298acc2;
    /* Couleur du texte au survol */
}

.dark-mode .sub-menu ul li a {
    color: rgba(255, 255, 255, 0.705);
}

.sub-section-propos {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: var(--light-sub-section);
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    border: thick double #bdbcbc;
    border-radius: 10px;
    transition: display 0.5s ease;
    /* Ajoute une transition en douceur */
}

.sub-section-propos:hover {
    transition: 0.6s;
    background-color: #4e54ff2a;
}

.dark-mode .sub-section-propos {
    color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border: thick double #5c5c5c;
    border-radius: 10px;
    background-color: var(--dark-sub-section);
    transition: display 0.5s ease;
    /* Ajoute une transition en douceur */
}

.dark-mode .sub-section-propos:hover {
    transition: 0.6s;
    background-color: #4e54ff2a;
}

.sub-section-propos.active {
    transition: 0.3s;
    display: block;
}

.sub-section-proj {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: var(--light-sub-section);
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    border: thick double #bdbcbc;
    border-radius: 10px;
    transition: display 0.5s ease;
    /* Ajoute une transition en douceur */
}

.sub-section-proj:hover {
    transition: 0.6s;
    background-color: #4e54ff2a;
}

.dark-mode .sub-section-proj {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border: thick double #5c5c5c;
    border-radius: 10px;
    background-color: var(--dark-sub-section);
    transition: display 0.5s ease;
    /* Ajoute une transition en douceur */
}

.dark-mode .sub-section-proj:hover {
    transition: 0.6s;
    background-color: #4e54ff2a;
}

.sub-section-proj.active {
    transition: 0.3s;
    display: block;
}

/* NAV LINK A PROPOS */
.nav-link-propos {
    transition: color 0.3s ease;
    /* Ajoute une transition de 0.3 secondes à la couleur */
}

.nav-link-propos.active {
    /* Ajoutez ici les styles que vous souhaitez appliquer à l'élément du menu actif */
    transition: 0.3s;
    color: #00202e;
    background-color: #8f83ff57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}

.dark-mode .nav-link-propos {
    transition: color 0.3s ease;
    color: #ffffff85;
    /* Ajoute une transition de 0.3 secondes à la couleur */
}

.dark-mode .nav-link-propos.active {
    transition: 0.3s;
    /* Ajoutez ici les styles que vous souhaitez appliquer à l'élément du menu actif */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.856);
    background-color: #b2aafd57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}

/* NAV LINK PROJETS */
.nav-link-proj {
    max-height: 30px;
    transition: color 0.3s ease;
    overflow: hidden;
    /* Masquer le texte qui dépasse */
    /* Ajoute une transition de 0.3 secondes à la couleur */
}

.nav-link-proj.active {
    /* Ajoutez ici les styles que vous souhaitez appliquer à l'élément du menu actif */
    transition: 0.3s;
    font-weight: bold;
    color: #002738;
    background-color: #8f83ff57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}


.dark-mode .nav-link-proj {
    transition: color 0.3s ease;
    color: #ffffff85;
    /* Ajoute une transition de 0.3 secondes à la couleur */
}

.dark-mode .nav-link-proj.active {
    transition: 0.3s;
    /* Ajoutez ici les styles que vous souhaitez appliquer à l'élément du menu actif */
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #b2aafd57;
    box-shadow: rgb(64, 64, 65) 3px 3px 6px 0px inset, rgba(77, 76, 76, 0.5) -3px -3px 6px 1px inset;
}

/* Styles CSS pour les images */
.project-images {
    margin-top: 20px;
    display: flex;
    /* Utilise Flexbox pour aligner les images horizontalement */
    justify-content: space-evenly;
    /* Centre les images horizontalement */
    gap: 20px;
    /* Espacement entre les images */
}

.project-images img {
    transition: 0.5s;
    width: 25%;
    /* Les images ne dépasseront pas la largeur du conteneur */
    max-height: 400px;
    height: auto;
    /* Ajuste automatiquement la hauteur pour conserver les proportions */
    border-radius: 10px;
    /* Ajoute des coins arrondis aux images */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-images img:hover {
    scale: 150%;
    transition: 0.5s;

}