<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sudoku</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h1>Mon jeu de Sudoku</h1>
    <h3>Choose Difficulty</h3>
    <form action="/" method="post">
        <label for="difficulty">Difficulty:</label>
        <select name="difficulty" id="difficulty">
            <option value="easy">Empty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <button type="submit">Generate Sudoku</button>
    </form>
    <form id="fillWithZerosForm" action="/fill_with_zeros" method="post">
        <input type="hidden" name="grid" value="{{ grid }}">
        <button type="submit" id="fillWithZerosButton">solve sudoku</button>
    </form>
    <div id="sudoku-grid">
        <table>
            {% for row in grid %}
            <tr>
                {% for cell in row %}
                <td><input type="text" maxlength="1" value="{{ cell }}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        document.getElementById('fillWithZerosButton').addEventListener('click', function() {
            document.getElementById('fillWithZerosForm').submit();
        });
    </script>
</body>
</html>
